.article-list {
  display: flex;
  list-style-type: none;
  width: 70vw;
  flex-direction: column-reverse;
  margin: 0 auto;
  padding: 20px 0;
}

.article-list-item {
  margin: 10px;
  text-decoration: none;
  border: lightsteelblue 2px solid;
  border-radius: 5px;
  transition: background 0.3s;
}

.article-list-item:hover {
  background: var(--background-highlight);
}

.article-list-item__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  text-decoration: none;
}

.article-list-item__title {
  font-weight: 650;
}

.article-list-item__abstract {
  padding: 0 20px 20px 20px;
}

.article-list-item__link {
  text-decoration: none;
  color: var(--font-color);
}
