.text-field {
  width: 100%;
  margin-bottom: 20px;
}

.text-field__input {
  resize: none;
  font-size: 16px;
  border-width: 0 0 2px 0;
  border-bottom: 2px #b4b4b4 solid;
  transition: border-color 0.2s;
  outline: 0;
  padding: 7px 0;
  background: transparent;
  width: 100%;
}

.text-field__input:focus {
  border-color: var(--font-color);
}

.text-field__input--error {
  border-color: var(--error-color)
}

.text-field__message {
  font-size: 11px;
  display: flex;
  position: fixed;
}

.text-field__message--error {
  color: var(--error-color);
}

.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid var(--accent-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

.error-wrapper {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  padding: 20px 0;
  color: var(--font-color);
}

.menu {
  display: flex;
}

.clock {
  text-align: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
